.complete-event-wrapper {
  width: 100%;
}
.event-page-heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.event-id {
  font-size: 18px;
  color: #000000;
}
.event-details-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
