<div class="content section-padding bg-white box-shadow section-bottom-spacing">

  <div class="section-heading section-head-with-button">
    <div class="section-title">
      <p>Organiser Payment History List </p>
    </div>
  </div>
  <div *ngIf="OrganiserListing" class="tabular-data-wrapper">

    <p-table #dt [columns]="cols" [value]="OrganiserListing" [responsive]="true" styleClass="faq-table"
       [rows]="8"  [rows]="8" [alwaysShowPaginator]="false" >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-7 col-xl-5 mb-2 pl-0 text-left" style="text-align: right">
            <input type="text" pInputText size="50" placeholder=" Payment Req Amount Search..."
            (input)="searchList($event)" class="form-control mb-2" style="width: auto;">
          </div>
          <div class="col-md-4 mb-2 pl-0 text-left">
            <select class="form-control" (change)="filterByStatus($event.target.value)">
              <option value="">All</option>
              <option value="pending">Pending</option>
              <option value="completed">Completed</option>
            </select>
          </div>
        </div>
        <!-- <form [formGroup]="searchByDateForm" class="event-list-form" (submit)="searchByDate()">
              <div class="row">
                <div class="col-md-3 mb-2 text-left pl-0">
                  <p-calendar dateFormat="dd-mm-yy" placeholder="From Date" formControlName="toDate"
                    (onSelect)="onToDateChange($event)" [style]="{'width':'324px'}"></p-calendar>
                </div>
                <div class="col-md-3 mb-2 text-left pl-0">
                  <p-calendar dateFormat="dd-mm-yy" placeholder="To Date" formControlName="fromDate"
                    [minDate]="minFromDate" dateFormat="dd-mm-yy" [style]="{'width':'324px'}"></p-calendar>
                </div>
                <div class="col-md-3 mb-2 pl-0 text-left">
                  <button class="btn btn-primary btn-raised">Search</button>
                  &nbsp;&nbsp;
                  <button class="btn btn-danger btn-raised" type="button" (click)="resetSearchForm()">Reset</button>
                </div>
              </div>
            </form> -->
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 6%;padding-left: 2px;padding-right: 2px;">Sr.No.</th>
          <th style="width: 12%;padding-left: 2px;padding-right: 2px;">Name</th>
          <th style="width: 20%;padding-left: 2px;padding-right: 2px;">Email</th>
          <!-- <th style="width: 12%;padding-left: 2px;padding-right: 2px;">Event Name</th> -->
          <th style="width: 10%;padding-left: 2px;padding-right: 2px;">Total Amount</th>
          <th style="width: 10%;padding-left: 2px;padding-right: 2px;">Current Amount</th>
          <th style="width: 8%;padding-left: 2px;padding-right: 2px;">Req Amount</th>
          <!-- <th style="width: 8%;padding-left: 2px;padding-right: 2px;">Status</th> -->
          <th style="width: 8%;padding-left: 2px;padding-right: 2px;">Is Release</th>


          <th style="width: 9%;">View Details</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-key let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td><span class="ui-column-title">Name</span>{{item.users.name}}</td>
          <td><span class="ui-column-title">email</span>{{item.users.email}}</td>
          <!-- <td><span class="ui-column-title">Event</span>Event Name</td> -->
          <td><span class="ui-column-title">totalAmount</span>{{item.users.totalAmount}}</td>
          <td><span class="ui-column-title">currentAmounts</span>{{item.users.currentAmounts}}</td>
          <td><span class="ui-column-title">withdrawnAmount</span>{{item.withdrawnAmount}}</td>
          <!-- <td><span class="ui-column-title">transStatus</span>{{item.transStatus}}</td> -->

          <!-- <td><span class="ui-column-title">Verified Status Change</span>
              <div class="d-flex align-items-center">
                <app-active-swtich [checked]="item.users.isVerified" (change)="isVerifiedStatus($event, item.users.id)"
                  class="ml-1">
                </app-active-swtich>
              </div>
            </td> -->
          <td><span class="ui-column-title">Released Satus Change</span>
            <div class="d-flex align-items-center">
              <app-active-swtich [checked]="item.users.isReleased" (change)="isReleasedSatus($event, item.users.id)"
                class="ml-1">
              </app-active-swtich>
            </div>
          </td>
          <td class="action-buttons">
            <span class="ui-column-title">View</span>
            <button (click)="openAddEditCompany(item)" class="custom-btn custom-btn-small blue-btn text-center edit"
              style="margin-right: 4px !important; min-width: 4em !important;
                    height: 2.4em !important;color:#ce0017;
                "><i class="fa fa-eye" aria-hidden="true"></i></button>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger" colspan="8">No Record Found.</td>
        </tr>
      </ng-template>
    </p-table>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>

  </div>
</div>
<p-dialog [draggable]="false" [header]="itemToEdit? 'Payment Organiser Details':'Add New Company'" modal="true"
  [(visible)]="displayAddEditAbout" [responsive]="true" [style]="{minWidth: '800px'}" appendTo="body" maximizable="true"
  blockScroll="true" [closeOnEscape]="false" (onHide)="closeAddEditCompany()">
  <div *ngIf="itemToEdit" class="dialog-content">
    <div *ngIf="OrganiserListing" class="tabular-data-wrapper">
      <div class="row" style="background-color: #e8e8e8;font-size: initial;padding: 1%;">Organiser</div>
      <div class="row" style="font-size: 15px;padding: 5px;">
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Name: </b> {{itemToEdit?.users.name}}
        </div>
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Email: </b> {{itemToEdit?.users.email}}
        </div>
      </div>
      <div class="row" style="font-size: 15px;padding: 5px;">

        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Current Amounts: </b> {{itemToEdit?.users.currentAmounts}}
        </div>
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Total Amount : </b> {{itemToEdit?.users.totalAmount}}
        </div>
      </div>
      <div class="row" style="font-size: 15px;padding: 5px;">
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">PhoneNo: </b> {{itemToEdit?.users.phoneNo}}
        </div>
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Address : </b> {{itemToEdit?.users.address}}
        </div>
      </div>
      <div class="row" style="background-color: #e8e8e8;font-size: initial;padding: 1%;">Bank Details</div>
      <div class="row" style="font-size: 15px;padding: 5px;">
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Bank Name : </b> {{itemToEdit?.bank_details.bankName}}
        </div>
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">AccountNo : </b> {{itemToEdit?.bank_details.AccountNo}}
        </div>
      </div>
      <div class="row" style="font-size: 15px;padding: 5px;">
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Routing No : </b> {{itemToEdit?.bank_details.routingNo}}
        </div>
      </div>
      <div class="row" style="background-color: #e8e8e8;font-size: initial;padding: 1%;">Withdrawn status</div>
      <div class="row" style="font-size: 15px;padding: 5px;">
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Req Amount Name : </b>
          {{itemToEdit.withdrawnAmount}}
        </div>
        <div class="custom-form-control col-sm-5">
          <b style="color: #000;">Transition Status : </b>
          {{itemToEdit.transStatus}}
        </div>
      </div>


      <div class="row" style="padding-left: 79%;padding-top: 4%;">
        <!-- <button type="reset" title="Cancel" style="
    background-color: #183857 !important;
  " class="custom-btn red-btn text-center button-with-icon cancel" (click)="closeAddEditCompany()"><i
              class="fa fa-times icon" aria-hidden="true"></i>Cancel</button> -->
      </div>
    </div>

  </div>
</p-dialog>